INFO.json
{
  "updatedAt": "2026-06-03T10:41:31.996Z",
  "createdAt": "2026-05-29T11:28:17.884Z",
  "id": "G3VQnI6lqYzdK4EC",
  "name": "Broo with Voice v2",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        1744,
        1648
      ],
      "id": "d751b7c1-f72f-439b-9bfa-cd04b7a562f2",
      "name": "Telegram Trigger2",
      "webhookId": "45c2edd8-1153-4c7a-8e2d-aee244565364",
      "credentials": {
        "telegramApi": {
          "id": "xu5Q9IRPishAZ5Ty",
          "name": "Для ассистента"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "4df1e4a8-354d-42b9-9373-3120d563d3fd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Голос"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists"
                    },
                    "id": "4ed47ec4-8978-4aff-9bb0-560a6ceb7663"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Текст"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1968,
        1648
      ],
      "id": "e160a5b6-edd5-472f-b8b5-ea15b38a1860",
      "name": "Голос или текст?1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger2').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2176,
        1504
      ],
      "id": "982b3293-862f-4d3f-a0cc-c994e384c0f8",
      "name": "Получить путь к файлу1",
      "webhookId": "9ce1698c-ad9e-488f-887a-2d8e1d302fd0",
      "credentials": {
        "telegramApi": {
          "id": "xu5Q9IRPishAZ5Ty",
          "name": "Для ассистента"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger2').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2400,
        1504
      ],
      "id": "6bfcebb9-8607-4ae9-9254-3069f528ab0e",
      "name": "Скачать голосовой файл1",
      "webhookId": "bc76d0df-a17e-43cc-9c07-0a234bd5d75c",
      "credentials": {
        "telegramApi": {
          "id": "xu5Q9IRPishAZ5Ty",
          "name": "Для ассистента"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "language",
              "value": "ru"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2624,
        1504
      ],
      "id": "723de94f-a213-46de-bf0a-c63ff10da4d7",
      "name": "Whisper — транскрибация1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2OtqKNnjcu4hQP6Z",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "voice-msg",
              "name": "userMessage",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2848,
        1504
      ],
      "id": "ec95510c-156c-42f0-a287-a3ba1b1c2b97",
      "name": "Текст из голоса1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text-msg",
              "name": "userMessage",
              "value": "={{ $('Telegram Trigger2').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        1792
      ],
      "id": "90d04af2-2dc1-402d-a97d-2885ebc7074c",
      "name": "Текст из сообщения1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3040,
        1648
      ],
      "id": "e606bb60-79b3-454e-b014-883c9e585708",
      "name": "Объединить потоки1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "# Overview\nYou are the ultimate personal assistant. Your job is to send the user's query to the correct tool. You should never be writing emails, or creating even summaries, you just need to call the correct tool.\n\n## Tools\n- Tavily: Use this tool to search the web\n\n## Important\n- If the user sent a voice message, it has already been transcribed. Treat it as regular text.\n- Always respond in the same language the user used."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3264,
        1648
      ],
      "id": "2bfa265b-d354-4e24-bc13-c47aacc39293",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3184,
        1872
      ],
      "id": "a738c9de-d1b5-4a48-ae92-18aacecbd146",
      "name": "Broo2",
      "credentials": {
        "openAiApi": {
          "id": "SCHKVFBRO8PoRFne",
          "name": "Мозги для ассистента"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger2').item.json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        3360,
        1872
      ],
      "id": "11177955-df5d-4fb0-bf60-b7381436d7e4",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        3504,
        1872
      ],
      "id": "9d3cef86-43b4-46af-b82b-e237f7d0c455",
      "name": "Search in Tavily2",
      "credentials": {
        "tavilyApi": {
          "id": "fmZm4IqIO5NcOhOp",
          "name": "Поиск для ассистента"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger2').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3616,
        1648
      ],
      "id": "cc4ac41d-0472-472f-ac2e-f389e163bc0e",
      "name": "Send a text message2",
      "webhookId": "b527f4b1-6e8b-4c99-86d3-0c4157c5c101",
      "credentials": {
        "telegramApi": {
          "id": "xu5Q9IRPishAZ5Ty",
          "name": "Для ассистента"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger2": {
      "main": [
        [
          {
            "node": "Голос или текст?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Голос или текст?1": {
      "main": [
        [
          {
            "node": "Получить путь к файлу1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Текст из сообщения1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить путь к файлу1": {
      "main": [
        [
          {
            "node": "Скачать голосовой файл1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Скачать голосовой файл1": {
      "main": [
        [
          {
            "node": "Whisper — транскрибация1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper — транскрибация1": {
      "main": [
        [
          {
            "node": "Текст из голоса1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Текст из голоса1": {
      "main": [
        [
          {
            "node": "Объединить потоки1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Текст из сообщения1": {
      "main": [
        [
          {
            "node": "Объединить потоки1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Объединить потоки1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Broo2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "2cf6bca6-5fed-4b85-976b-0386d0d5b14c",
  "activeVersionId": null,
  "versionCounter": 131,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-05-29T11:28:17.893Z",
      "createdAt": "2026-05-29T11:28:17.893Z",
      "role": "workflow:owner",
      "workflowId": "G3VQnI6lqYzdK4EC",
      "projectId": "59YaPd0amPnB6Dlx",
      "project": {
        "updatedAt": "2026-05-15T13:36:37.930Z",
        "createdAt": "2026-05-15T13:36:29.862Z",
        "id": "59YaPd0amPnB6Dlx",
        "name": "Semenovych Oleksii <aleksey.semenovich@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "d27e72f6-0bef-4e1c-9dc6-a66b66dfd9d0"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}